{% extends "CBClientBundle::layout.html.twig" %}
 
{% block title %}
  Dashboard - {{ parent() }}
{% endblock %}
 
{% block body %}
 
	HOMEPAGEEEEEE

    <button class="btn btn-lg btn-primary" id="check_token_local">Check token local</button>
    <button class="btn btn-lg btn-primary" id="check_token_remote">Check token remote</button>
 
{% endblock %}