{% extends "CBClientBundle::layout.html.twig" %}
 
{% block title %}
  Dashboard - {{ parent() }}
{% endblock %}
 
{% block body %}
 
	<div class="container">

      <form class="form-signin" id="form_login" action="" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input id="login_usr" type="text" class="form-control" placeholder="Username" required autofocus>
        <input id="login_pw" type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block">Sign in</button>
      </form>

    </div> <!-- /container -->
{% endblock %}

